.title {
    text-align: center;
}

table,th, td {
    border: 1px solid;
    background-color: white;
    border-collapse: collapse;
}

td {
    text-align: center;
    padding: 3px;
}

.thead {
    text-transform: uppercase;
    font-size: 30px;
}

body {
    width: 1300px;
    margin: 0 auto;
    background-color: gray;
}

header {
    border: 10px solid;
    background-color: white;
    border-radius: 15px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.create {
    text-align: center;
    font-style: italic;
}

.info {
    border: 1px solid;
    background-color: white;
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
}

.htmlimg {
    float: left;
    padding-left: 30px;
}

.cssimg {
    float: right;
}

.csstable {
    width: 1300px;
    margin: 0 auto;
}

.cssthead {
    text-transform: uppercase;
    font-size: 30px;
}

.serif {
    font-family: serif;
}

.sansserif {
    font-family: sans-serif;
}

.monospace {
    font-family: monospace;
}

.fontsize {
    font-size: 30px;
}

.fontweight {
    font-weight: bold;
}

.fontstyle {
    font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

.textd {
    text-decoration: underline;
}

.letterspacing {
    letter-spacing: 0.3em;
}

.wordspacing {
    word-spacing: 0.3em;
}

.tleft {
    text-align: left;
}

.tjustified {
    text-align: justify;
}

.tright {
    text-align: right;
}

.htmlstructure {
    text-align: center;
    width: 1300px;
    margin: 0 auto;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 15px;
}

.cssstructure {
    text-align: center;
    width: 1300px;
    margin: 0 auto;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 15px;
}
